.body {
    max-width: 100%;
    display: flex;
    justify-content: center
}

.header {
    padding-bottom: 10px;
}

.campo-busca-main {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.campo-busca {
    width: 60%;
}

.campos-busca-input-base {
    width: 92%;
    padding-left: 1%;
}